    <title>Tech Blog</title>
</head>

<body>
    <header>
    <h1>Tech Blog</h1>
    <ul>
        <li id = "dashboard">
            Dashboard
        </li>
        <li id = "homepage">
            Homepage
        </li>
        <li id = "logout">
            Log out
        </li>
    </ul>
</header>

<form id = "login" class = "formatt">
        <div>
            <h2>Create your post here:</h2>
        </div>

    <div id = "login" class = "login ">
        <div id = "title" class = "login">
              <label for="floating_plant_name">Title:</label>
              <input type="text" name="floating_plant_name" id="titleinput" placeholder="" required />
              
        </div>


        <div id = "body" class = "login">
            <label id = "bodylabel" for="floating_plant_name">Body: </label>
            <textarea rows ="20" cols="50" type="text" name="floating_plant_name" id="bodyinput" placeholder="" required /></textarea>
        </div>

    <div>
</form>

<div id = "login" class = "post-submit">
        <button type="submit" id="post-submit" class = "login">
              <span>
                Create new blogpost
              </span>
        </button>
</div>
        