
    <title>Tech Blog</title>
</head>

<body>
    <header>
    <h1>Tech Blog</h1>
    <ul>
        <li>
            Dashboard
        </li>
        <li>
            Homepage
        </li>
        <li>
            Log in
        </li>
        <li>
            Log out
        </li>
    </ul>
</header>

<form>
      <div>
            <h2>Type in your username and password</h2>
      </div>

<div id = "login">
      {{!-- username --}}
      <div class = "login">
            <input type="username" name="floating_username" id="floating_username" placeholder="username" required />
            <label for="floating_username"></label>
      </div>

      {{!-- password --}}
      <div class = "login">
            <input type="password" name="floating_password" id="floating_password" placeholder="password" required />
            <label for="floating_password" ></label>
      </div>

      {{!-- login button --}}
      <button type="submit" id="login_submit" class = "login">
            <span>
                  Log in
            </span>
      </button>
</div>
</form>