    <link rel="stylesheet" href="/css/profile.css">
    <title>Tech Blog</title>
</head>

<body>
    <header>
    <h1>Tech Blog</h1>
    <ul>
        <li>
            Dashboard
        </li>
        <li>
            Homepage
        </li>
        <li>
            Log in
        </li>
        <li>
            Log out
        </li>
    </ul>
</header>

<main>
    <div class = "profileCard">
          <h3>
                Already have an account?
          </h3>
          <div>
            <button>
              <span id="login-button">
                Log in
              </span>
            </button>
          </div>
    </div>
    <div class = "profileCard">
          <h3>
                New user?
          </h3>
          <div>
            <button>
              <span id="signup-button">
                Sign up
              </span>
            </button>
          </div>
    </div>
</main>